<!DOCTYPE html>
<html>
<%- include ./components/head.ejs %>

<body>
    <%- include ./components/navBar %>
    <%- include(contentPage) %>
    <%- include ./components/footer %>
    <%- include ./components/scripts %>
</body>

</html>